In [1]:
pwd

'C:\\Users\\angie\\Desktop\\Course_Material\\Phase_1\\use_me\\Group-4-Microsoft_Movie_Analysis\\notebooks'

In [2]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is E885-E0E8

 Directory of C:\Users\angie\Desktop\Course_Material\Phase_1\use_me\Group-4-Microsoft_Movie_Analysis\notebooks

08/05/2021  04:53 PM    <DIR>          .
08/05/2021  04:53 PM    <DIR>          ..
08/05/2021  01:09 PM    <DIR>          .ipynb_checkpoints
08/05/2021  04:44 PM           782,114 bom_clean_ang.ipynb
08/03/2021  12:08 PM           507,996 bom_clean_ang-checkpoint.ipynb
08/03/2021  12:16 PM           507,996 bom_clean_ang-Copy1-checkpoint.ipynb
08/05/2021  04:44 PM           655,564 bom_clean_avi.ipynb
08/03/2021  09:38 AM           851,375 BoxOfficeMojoScrape.ipynb
08/05/2021  04:53 PM           189,090 Cleaned_December_Movie_Launch.ipynb
08/05/2021  01:10 PM               555 Final Notebook.ipynb
08/05/2021  04:44 PM           752,612 Movie_Data_Frames2.1.ipynb
08/05/2021  04:44 PM           684,665 Movie_Data_Frames2.ipynb
08/05/2021  04:44 PM           100,468 ROI Genre.ipynb
08/04/2021  10:58 AM            29,994 tn.movie_budgets_ang.ipynb
08/04/2021  03:07 PM            29,231 Untitled.ipynb
              12 File(s)      5,091,660 bytes
               3 Dir(s)  174,178,967,552 bytes free

In [3]:
cd ..

C:\Users\angie\Desktop\Course_Material\Phase_1\use_me\Group-4-Microsoft_Movie_Analysis

In [4]:
cd data

C:\Users\angie\Desktop\Course_Material\Phase_1\use_me\Group-4-Microsoft_Movie_Analysis\data

In [5]:
cd zippedData

C:\Users\angie\Desktop\Course_Material\Phase_1\use_me\Group-4-Microsoft_Movie_Analysis\data\zippedData

In [6]:
import pandas as pd
from matplotlib import pyplot as plt

In [7]:
df_name_basics = pd.read_csv('imdb.name.basics.csv.gz')
df_name_basics

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"
...,...,...,...,...,...,...
606643,nm9990381,Susan Grobes,NaN,NaN,actress,NaN
606644,nm9990690,Joo Yeon So,NaN,NaN,actress,"tt9090932,tt8737130"
606645,nm9991320,Madeline Smith,NaN,NaN,actress,"tt8734436,tt9615610"
606646,nm9991786,Michelle Modigliani,NaN,NaN,producer,NaN
606647,nm9993380,Pegasus Envoyé,NaN,NaN,"director,actor,writer",tt8743182

In [8]:
df_title_akas = pd.read_csv('imdb.title.akas.csv.gz')
df_title_akas

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,NaN,NaN,0.0
1,tt0369610,11,Jurashikku warudo,JP,NaN,imdbDisplay,NaN,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,NaN,imdbDisplay,NaN,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,NaN,NaN,short title,0.0
4,tt0369610,14,Jurassic World,FR,NaN,imdbDisplay,NaN,0.0
...,...,...,...,...,...,...,...,...
331698,tt9827784,2,Sayonara kuchibiru,NaN,NaN,original,NaN,1.0
331699,tt9827784,3,Farewell Song,XWW,en,imdbDisplay,NaN,0.0
331700,tt9880178,1,La atención,NaN,NaN,original,NaN,1.0
331701,tt9880178,2,La atención,ES,NaN,NaN,NaN,0.0
331702,tt9880178,3,The Attention,XWW,en,imdbDisplay,NaN,0.0

In [9]:
df_title_akas['attributes'].value_counts().head(15)

new title                           1700
alternative spelling                1394
literal English title               1054
complete title                      1034
original subtitled version           879
informal English title               816
transliterated ISO-LATIN-1 title     695
dubbed version                       645
short title                          640
alternative transliteration          611
DVD box title                        601
literal title                        490
original script title                300
3-D version                          292
promotional title                    285
Name: attributes, dtype: int64

In [10]:
df_title_basics = pd.read_csv('imdb.title.basics.csv.gz')
df_title_basics

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [11]:
#df_imdb = df_title_basics.merge(df_title_ratings, left_on = 'tconst', right_on = 'tconst')

NameError: name 'df_title_ratings' is not defined

In [ ]:
df_imdb = df_imdb.dropna()

In [ ]:
df_imdb

In [ ]:
df_title_basics['genres'].value_counts().head(10)

In [ ]:
df_coms = df_imdb[df_imdb['genres'] == 'Comedy']

In [ ]:
df_coms = df_coms.loc[df_coms['numvotes'] > 500]

In [ ]:
df_docs = df_imdb[df_imdb['genres'] == 'Documentary']

In [ ]:
df_docs = df_docs.loc[df_docs['numvotes'] > 500]

In [ ]:
df_thriller = df_imdb[df_imdb['genres'] == 'Thriller']

In [ ]:
df_thriller = df_thriller.loc[df_thriller['numvotes'] > 500]

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
fig, ax = plt.subplots()

ax.scatter(df_coms['runtime_minutes'], df_coms['averagerating'])
ax.set_xlabel('Runtime(minutes)')
ax.set_ylabel('Movie Rating')
ax.set_xlim([40,250])

In [ ]:
fig, ax = plt.subplots()

ax.scatter(df_docs['runtime_minutes'], df_docs['averagerating'])
ax.set_xlabel('Runtime(minutes)')
ax.set_ylabel('Movie Rating')
ax.set_xlim([40,250])

In [ ]:
fig, ax = plt.subplots()

ax.scatter(df_thriller['runtime_minutes'], df_thriller['averagerating'])
ax.set_xlabel('Runtime(minutes)')
ax.set_ylabel('Movie Rating')
ax.set_xlim([50,200])

In [ ]:
df_title_crew = pd.read_csv('imdb.title.crew.csv.gz')
df_title_crew

In [ ]:
df_title_princ = pd.read_csv('imdb.title.principals.csv.gz')
df_title_princ

In [ ]:
df_title_ratings = pd.read_csv('imdb.title.ratings.csv.gz')
df_title_ratings

In [ ]:
df_title_ratings.describe()

In [ ]:
df_movie_gross = pd.read_csv('bom.movie_gross.csv.gz')
df_movie_gross

In [ ]:
df_rt_info = pd.read_csv('rt.movie_info.tsv.gz', sep = '\t')
df_rt_info

In [ ]:
df_rt_info2 = df_rt_info.dropna()

In [ ]:
df_rt_info2['minute_count'] = df_rt_info2['runtime'].split(' ')

In [ ]:
fig, ax = plt.subplots()

ax.scatter(df_rt_info2['runtime'], df_rt_info2['box_office'])
ax.set_xlabel('Runtime(minutes)')
ax.set_ylabel('Box Office $')
ax.set_xlim([0,250])

In [ ]:
df_rt_review = pd.read_csv('rt.reviews.tsv.gz', sep = '\t', encoding = 'unicode_escape')
df_rt_review

In [ ]:
df_tmdb = pd.read_csv('tmdb.movies.csv.gz')
df_tmdb

In [ ]:
df_budgets = pd.read_csv('tn.movie_budgets.csv.gz')
df_budgets.head(30)

In [ ]:
df_budgets['production_budget'] = df_budgets['production_budget'].str.replace('$','')

In [ ]:
df_budgets['domestic_gross'] = df_budgets['domestic_gross'].str.replace('$','')

In [ ]:
df_budgets['worldwide_gross'] = df_budgets['worldwide_gross'].str.replace('$','')

In [ ]:
df_budgets['production_budget'] = df_budgets['production_budget'].str.replace(',','')

In [ ]:
df_budgets['domestic_gross'] = df_budgets['domestic_gross'].str.replace(',','')
df_budgets['worldwide_gross'] = df_budgets['worldwide_gross'].str.replace(',','')

In [ ]:
df_budgets['production_budget'] = df_budgets['production_budget'].astype(int)
df_budgets['domestic_gross'] = df_budgets['domestic_gross'].astype(int)
df_budgets['worldwide_gross'] = df_budgets['worldwide_gross'].astype(int)

df_budgets['total_profit'] = df_budgets['worldwide_gross'] - df_budgets['production_budget']

In [ ]:
df_budgets['year'] = pd.DatetimeIndex(df_budgets['release_date']).year

In [ ]:
df_budgets = df_budgets.loc[df_budgets['year'] >= 2010]

In [ ]:
df_budgets['ROI %'] = (df_budgets['total_profit'] / df_budgets['production_budget']) * 100

In [ ]:
df_highbudget = df_budgets.loc[df_budgets['production_budget'] >= 150000000]

In [ ]:
no_high = df_budgets.loc[df_budgets['production_budget'] < 150000000]

df_medbudget = no_high.loc[no_high['production_budget'] >= 90000000]

no_med = no_high[no_high['production_budget'] < 90000000]

In [ ]:
df_lowerbudget = no_med.loc[no_med['production_budget'] >= 40000000]

In [ ]:
df_above20mil = df_budgets.loc[df_budgets['production_budget'] > 20000000]

In [ ]:
df_above20mil

In [ ]:
plt.hist(df_above20mil['production_budget'], bins = 25)

In [ ]:
df_budgets.sort_values(by=['ROI %'], ascending = False).head(40)

In [ ]:
fig, ax = plt.subplots(figsize = (8, 8))

plt.scatter(df_budgets['production_budget'], df_budgets['ROI %'])
plt.xlabel('Budget (in 100s of millions)')
plt.ylabel('ROI %')
plt.axhline(y=0, color='r', linestyle='-')
plt.axhline(y=200, color='g', linestyle='-');

In [ ]:
df_highbudget.sort_values(by=['ROI %'], ascending = False).head(50)

In [ ]:
df_highbudget['is_sci-fi'] = False

In [ ]:
df_highbudget.sort_values(by=['ROI %'], ascending = False)[30:65]

In [ ]:
import numpy as np

In [ ]:
sf_movies = ['Dark Phoenix', 'Valerian and the City of a Thousand Planets', 'Jupiter Ascending', 'Tomorrowland', 'Blade Runner 2049', 'Pacific Rim', 'Solo: A Star Wars Story', 'Rogue One: A Star Wars Story', 'Star Wars Ep. VII: The Force Awakens', 'Guardians of the Galaxy', 'Guardians of the Galaxy Vol 2', 'Star Trek Into Darkness', 'Star Trek Beyond', 'Pacific Rim: Uprising', 'Moonfall', 'Edge of Tomorrow', 'Justice League', 'The Great Wall', 'Independence Day: Resurgence', 'Alita: Battle Angel', 'War for the Planet of the Apes', 'Kong: Skull Island', 'The Meg', 'Man of Steel', 'World War Z', 'Transformers: The Last Knight', 'Mad Max: Fury Road', 'Terminator: Genisys', 'PokÃ©mon: Detective Pikachu', 'Godzilla: King of the Monsters', 'Godzilla', 'Dawn of the Planet of the Apes', 'Jurassic World', 'Jurassic World: Fallen Kingdom', 'Inception', 'Iron Man 3', 'Thor: The Dark World', 'Thor: Ragnarok', 'Star Wars Ep. VIII: The Last Jedi', 'Star Wars Ep. VIII: The Last Jedi', 'Interstellar', 'Iron Man 2']

In [ ]:
scifi_list = np.where(df_highbudget['movie'].isin(sf_movies), 'r', 'b')

In [ ]:
df_highbudget.info()

In [ ]:
df_highbudget.sort_values(by=['ROI %']).head(35)

In [ ]:
df_highbudget['Box Office Success'] = np.where(df_highbudget['ROI %'] > 250, True, False)

In [ ]:
df_highbudget['Box Office Failure'] = np.where(df_highbudget['ROI %'] < 150, True, False)

In [ ]:
df1 = df_highbudget.loc[df_highbudget['Box Office Success'] == True]

In [ ]:
##df_highbudget['Box Office Success'].value_counts()

In [ ]:
df_highbudget['Box Office Failure'].value_counts()

In [ ]:
import matplotlib as mpl

In [ ]:
mpl.rcParams['font.size'] = 16

In [ ]:
labels = 'Box Office Bomb', 'Box Office Success', 'Neutral'
amts = [50, 59, 27]

fig, ax = plt.subplots(figsize=(7,7))
ax.pie(amts, labels = labels, autopct='%1.1f%%', labeldistance=1.06)
ax.axis('equal')

plt.title('High Budget Films Success Rate');

In [ ]:
df_highbudget

In [ ]:
fig, ax = plt.subplots(figsize = (8, 8))

plt.scatter(df_highbudget['production_budget'], df_highbudget['ROI %'] )
plt.xlabel('Budget (in 100s of millions)')
plt.ylabel('ROI %')
plt.axhline(y=0, color='r', linestyle='-')
plt.axhline(y=250, color='g', linestyle='-');

In [ ]:
# 27/41 sci-fi films did not reach 2.5x goal (typical marker for box office success)
# Films that were marked as successful were 2 of the Jurassic Park movies, 3 Star wars movies, 2 transformers,
# 2 thor moves, Iron man 2 and 3, Guardians of the galaxy (1 and 2), Dawn of planet of the apes, 
#Interstellar and Inception
#of the 14 successful, 12 were parts of already successful movies series, the other two were high rated, oscar winning films

In [ ]:
df_medbudget['Box Office Success'] = np.where(df_medbudget['ROI %'] > 250, True, False)

In [ ]:
df_medbudget['Box Office Failure'] = np.where(df_medbudget['ROI %'] < 150, True, False)

In [ ]:
df_medbudget['Box Office Failure'].value_counts()

In [ ]:
df_medbudget['Box Office Success'].value_counts()

In [ ]:
df_medbudget

In [ ]:
df_medbudget.sort_values(by=['ROI %'], ascending = False).head(50)

In [ ]:
fig, ax = plt.subplots(figsize = (8, 8))

plt.scatter(df_medbudget['production_budget'], df_medbudget['ROI %'])
plt.xlabel('Budget (in 100s of millions)')
plt.ylabel('ROI %')
plt.axhline(y=0, color='r', linestyle='-')
plt.axhline(y=250, color='g', linestyle='-')

In [ ]:
fig, ax = plt.subplots(figsize = (8, 8))

plt.scatter(df_lowerbudget['production_budget'], df_lowerbudget['ROI %'])
plt.xlabel('Budget (in 100s of millions)')
plt.ylabel('ROI %')
plt.axhline(y=0, color='r', linestyle='-')
plt.axhline(y=200, color='g', linestyle='-')

In [ ]:
df_lowerbudget.sort_values(by=['ROI %'], ascending = False).head(50)

In [ ]:
pwd

In [ ]:
df_budgets.sort_values(by=['ROI %'], ascending = False).head(60)

In [ ]:
highest_rois = df_budgets.loc[df_budgets['ROI %'] > 1000]

In [ ]:
highest_rois.info()

In [ ]:
highest_rois.sort_values(by=['ROI %'], ascending = False).head(50)

In [ ]:
highest_rois.sort_values(by=['ROI %'], ascending = True).head(50)

In [ ]:
genres_top100roi = {'Horror/Thriller': 45, 'Comedy' : 17, 'Drama/Romance' : 16, 'Musical' : 3, 'Animation' : 5, 'Sci-fi' : 5, 'Documentary' : 2, 'Sport' : 2, 'Adventure' : 1}

In [ ]:
fig, ax = plt.subplots(figsize = (15, 8))

plt.bar(range(len(genres_top100roi)), genres_top100roi.values(), align='center')
plt.xticks(range(len(genres_top100roi)), list(genres_top100roi.keys()))

plt.xlabel('Movie Genre')
plt.ylabel('Amount of Films in top 100')
plt.title('Genre Distribution of the Top 100 Films by ROI')

plt.show()