In [1]:
pwd

'C:\\Users\\angie\\Desktop\\Course_Material\\Phase_1\\use_me\\Group-4-Microsoft_Movie_Analysis\\notebooks'

In [3]:
cd ..

C:\Users\angie\Desktop\Course_Material\Phase_1\use_me\Group-4-Microsoft_Movie_Analysis

In [7]:
cd data/zippedData/

[WinError 3] The system cannot find the path specified: 'data/zippedData/'
C:\Users\angie\Desktop\Course_Material\Phase_1\use_me\Group-4-Microsoft_Movie_Analysis\data\zippedData

In [9]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is E885-E0E8

 Directory of C:\Users\angie\Desktop\Course_Material\Phase_1\use_me\Group-4-Microsoft_Movie_Analysis\data\zippedData

08/04/2021  07:56 AM    <DIR>          .
08/04/2021  07:56 AM    <DIR>          ..
08/04/2021  07:56 AM    <DIR>          .ipynb_checkpoints
08/03/2021  09:35 AM            53,544 bom.movie_gross.csv.gz
08/03/2021  09:35 AM        18,070,960 imdb.name.basics.csv.gz
08/03/2021  09:35 AM         5,599,979 imdb.title.akas.csv.gz
08/03/2021  09:35 AM         3,459,897 imdb.title.basics.csv.gz
08/03/2021  09:35 AM         1,898,523 imdb.title.crew.csv.gz
08/03/2021  09:35 AM        12,287,583 imdb.title.principals.csv.gz
08/03/2021  09:35 AM           539,530 imdb.title.ratings.csv.gz
08/03/2021  09:35 AM           498,202 rt.movie_info.tsv.gz
08/03/2021  09:35 AM           116,453 rt.movie_info.tsv.gz--- cleaned up.ipynb
08/03/2021  09:35 AM         3,402,194 rt.reviews.tsv.gz
08/03/2021  09:35 AM            43,933 Title_basics & title_ratings merge, cleaned.ipynb
08/03/2021  09:35 AM           827,840 tmdb.movies.csv.gz
08/03/2021  09:35 AM           153,218 tn.movie_budgets.csv.gz
              13 File(s)     46,951,856 bytes
               3 Dir(s)  178,927,001,600 bytes free

In [8]:
import pandas as pd
from matplotlib import pyplot as plt

In [10]:
df_budgets = pd.read_csv('tn.movie_budgets.csv.gz')
df_budgets.head(30)

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
5,6,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220"
6,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200"
7,8,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425"
8,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209"
9,10,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923"
10,11,"Jul 20, 2012",The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099"
11,12,"May 25, 2018",Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347"
12,13,"Jul 2, 2013",The Lone Ranger,"$275,000,000","$89,302,115","$260,002,115"
13,14,"Mar 9, 2012",John Carter,"$275,000,000","$73,058,679","$282,778,100"
14,15,"Nov 24, 2010",Tangled,"$260,000,000","$200,821,936","$586,477,240"
15,16,"May 4, 2007",Spider-Man 3,"$258,000,000","$336,530,303","$894,860,230"
16,17,"May 6, 2016",Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413"
17,18,"Mar 25, 2016",Batman v Superman: Dawn of Justice,"$250,000,000","$330,360,194","$867,500,281"
18,19,"Dec 14, 2012",The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568"
19,20,"Jul 15, 2009",Harry Potter and the Half-Blood Prince,"$250,000,000","$302,089,278","$935,213,767"
20,21,"Dec 13, 2013",The Hobbit: The Desolation of Smaug,"$250,000,000","$258,366,855","$960,366,855"
21,22,"Dec 17, 2014",The Hobbit: The Battle of the Five Armies,"$250,000,000","$255,119,788","$945,577,621"
22,23,"Apr 14, 2017",The Fate of the Furious,"$250,000,000","$225,764,765","$1,234,846,267"
23,24,"Jun 28, 2006",Superman Returns,"$232,000,000","$200,120,000","$374,085,065"
24,25,"May 26, 2017",Pirates of the Caribbean: Dead Men Tell No Tales,"$230,000,000","$172,558,876","$788,241,137"
25,26,"Nov 14, 2008",Quantum of Solace,"$230,000,000","$169,368,427","$591,692,078"
26,27,"May 4, 2012",The Avengers,"$225,000,000","$623,279,547","$1,517,935,897"
27,28,"Jul 7, 2006",Pirates of the Caribbean: Dead Manâs Chest,"$225,000,000","$423,315,812","$1,066,215,812"
28,29,"Jun 14, 2013",Man of Steel,"$225,000,000","$291,045,518","$667,999,518"
29,30,"May 16, 2008",The Chronicles of Narnia: Prince Caspian,"$225,000,000","$141,621,490","$417,341,288"

In [11]:
df_budgets['production_budget'] = df_budgets['production_budget'].str.replace('$','')

In [12]:
df_budgets['domestic_gross'] = df_budgets['domestic_gross'].str.replace('$','')

In [13]:
df_budgets['worldwide_gross'] = df_budgets['worldwide_gross'].str.replace('$','')

In [14]:
df_budgets['production_budget'] = df_budgets['production_budget'].str.replace(',','')

In [15]:
df_budgets['domestic_gross'] = df_budgets['domestic_gross'].str.replace(',','')
df_budgets['worldwide_gross'] = df_budgets['worldwide_gross'].str.replace(',','')

In [18]:
df_budgets['production_budget'] = df_budgets['production_budget'].astype(int)
df_budgets['domestic_gross'] = df_budgets['domestic_gross'].astype(int)
df_budgets['worldwide_gross'] = df_budgets['worldwide_gross'].astype(int)

df_budgets['total_profit'] = df_budgets['worldwide_gross'] - df_budgets['production_budget']

OverflowError: Python int too large to convert to C long